# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,La Ronge,CA,55.10,-105.28,21.45,73,100,3.44,light snow
1,1,Hammerfest,NO,70.66,23.68,37.85,75,75,6.91,broken clouds
2,2,Kruisfontein,ZA,-34.00,24.73,66.88,80,90,8.72,overcast clouds
3,3,Vaini,TO,-21.20,-175.20,78.96,83,75,6.91,broken clouds
4,4,Lancaster,US,40.25,-76.25,45.63,52,20,8.05,few clouds
5,5,Castro,BR,-24.79,-50.01,68.85,81,97,6.04,overcast clouds
6,6,Tilichiki,RU,60.47,166.10,12.20,97,100,10.83,overcast clouds
7,7,Ugoofaaru,MV,5.67,73.00,80.96,78,100,10.98,overcast clouds
8,8,Busselton,AU,-33.65,115.33,50.90,83,0,10.54,clear sky
9,9,Cabo San Lucas,MX,22.89,-109.91,82.18,66,18,9.26,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = int(input("Minimum temperature? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = int(input("Maximum temperature? "))

Minimum temperature? 70
Maximum temperature? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [12]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.20,-175.20,78.96,83,75,6.91,broken clouds
7,7,Ugoofaaru,MV,5.67,73.00,80.96,78,100,10.98,overcast clouds
9,9,Cabo San Lucas,MX,22.89,-109.91,82.18,66,18,9.26,few clouds
11,11,Dingle,PH,11.00,122.67,75.87,92,100,6.44,heavy intensity rain
12,12,Atuona,PF,-9.80,-139.03,77.65,78,15,18.81,few clouds
13,13,Georgetown,MY,5.41,100.34,78.73,95,40,6.91,scattered clouds
14,14,Carnarvon,AU,-24.87,113.63,70.83,55,1,15.28,clear sky
16,16,Rabaul,PG,-4.20,152.17,80.31,70,100,2.19,overcast clouds
23,23,Luganville,VU,-15.53,167.17,81.61,74,0,0.67,clear sky
25,25,Cotonou,BJ,6.37,2.42,82.38,78,20,9.22,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.20,-175.20,78.96,83,75,6.91,broken clouds
7,7,Ugoofaaru,MV,5.67,73.00,80.96,78,100,10.98,overcast clouds
9,9,Cabo San Lucas,MX,22.89,-109.91,82.18,66,18,9.26,few clouds
11,11,Dingle,PH,11.00,122.67,75.87,92,100,6.44,heavy intensity rain
12,12,Atuona,PF,-9.80,-139.03,77.65,78,15,18.81,few clouds
13,13,Georgetown,MY,5.41,100.34,78.73,95,40,6.91,scattered clouds
14,14,Carnarvon,AU,-24.87,113.63,70.83,55,1,15.28,clear sky
16,16,Rabaul,PG,-4.20,152.17,80.31,70,100,2.19,overcast clouds
23,23,Luganville,VU,-15.53,167.17,81.61,74,0,0.67,clear sky
25,25,Cotonou,BJ,6.37,2.42,82.38,78,20,9.22,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [14]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp", "Current Description", "Lat","Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp   Current Description    Lat     Lng
3            Vaini      TO     78.96         broken clouds -21.20 -175.20
7        Ugoofaaru      MV     80.96       overcast clouds   5.67   73.00
9   Cabo San Lucas      MX     82.18            few clouds  22.89 -109.91
11          Dingle      PH     75.87  heavy intensity rain  11.00  122.67
12          Atuona      PF     77.65            few clouds  -9.80 -139.03
13      Georgetown      MY     78.73      scattered clouds   5.41  100.34
14       Carnarvon      AU     70.83             clear sky -24.87  113.63
16          Rabaul      PG     80.31       overcast clouds  -4.20  152.17
23      Luganville      VU     81.61             clear sky -15.53  167.17
25         Cotonou      BJ     82.38            few clouds   6.37    2.42

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [16]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,78.96,broken clouds,-21.20,-175.20,
7,Ugoofaaru,MV,80.96,overcast clouds,5.67,73.00,
9,Cabo San Lucas,MX,82.18,few clouds,22.89,-109.91,
11,Dingle,PH,75.87,heavy intensity rain,11.00,122.67,
12,Atuona,PF,77.65,few clouds,-9.80,-139.03,
13,Georgetown,MY,78.73,scattered clouds,5.41,100.34,
14,Carnarvon,AU,70.83,clear sky,-24.87,113.63,
16,Rabaul,PG,80.31,overcast clouds,-4.20,152.17,
23,Luganville,VU,81.61,clear sky,-15.53,167.17,
25,Cotonou,BJ,82.38,few clouds,6.37,2.42,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [17]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [19]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,78.96,broken clouds,-21.20,-175.20,Keleti Beach Resort
7,Ugoofaaru,MV,80.96,overcast clouds,5.67,73.00,Ungoofaaru Inn
9,Cabo San Lucas,MX,82.18,few clouds,22.89,-109.91,Hotel Tesoro Los Cabos
11,Dingle,PH,75.87,heavy intensity rain,11.00,122.67,SEGAYA PROPERTY
12,Atuona,PF,77.65,few clouds,-9.80,-139.03,Villa Enata
13,Georgetown,MY,78.73,scattered clouds,5.41,100.34,Cititel Penang
14,Carnarvon,AU,70.83,clear sky,-24.87,113.63,Hospitality Carnarvon
16,Rabaul,PG,80.31,overcast clouds,-4.20,152.17,Rabaul Hotel
23,Luganville,VU,81.61,clear sky,-15.53,167.17,The Espiritu Hotel
25,Cotonou,BJ,82.38,few clouds,6.37,2.42,Novotel Cotonou Orisha

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [77]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,78.96,broken clouds,-21.20,-175.20,Keleti Beach Resort
7,Ugoofaaru,MV,80.96,overcast clouds,5.67,73.00,Ungoofaaru Inn
9,Cabo San Lucas,MX,82.18,few clouds,22.89,-109.91,Hotel Tesoro Los Cabos
11,Dingle,PH,75.87,heavy intensity rain,11.00,122.67,SEGAYA PROPERTY
12,Atuona,PF,77.65,few clouds,-9.80,-139.03,Villa Enata
13,Georgetown,MY,78.73,scattered clouds,5.41,100.34,Cititel Penang
14,Carnarvon,AU,70.83,clear sky,-24.87,113.63,Hospitality Carnarvon
16,Rabaul,PG,80.31,overcast clouds,-4.20,152.17,Rabaul Hotel
23,Luganville,VU,81.61,clear sky,-15.53,167.17,The Espiritu Hotel
25,Cotonou,BJ,82.38,few clouds,6.37,2.42,Novotel Cotonou Orisha

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [79]:
# Set the file name.
output_data_file = "WeatherPY_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [80]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [81]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ungoofaaru Inn</dd>\n<dt>City</dt><dd>Ugoofaaru</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 75.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Rabaul Hotel</dd>\n<dt>City</dt><dd>Rabaul</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Espiritu Hotel</dd>\n<dt>City</dt><dd>Luganville</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Novotel Cotonou Orisha</dd>\n<dt>City</dt><dd>Cotonou</dd>\n<dt>Country</dt><dd>BJ</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.38 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [82]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

      Lat     Lng
3  -21.20 -175.20
7    5.67   73.00
9   22.89 -109.91
11  11.00  122.67
12  -9.80 -139.03
13   5.41  100.34
14 -24.87  113.63
16  -4.20  152.17
23 -15.53  167.17
25   6.37    2.42

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [83]:
# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure()
fig.add_layer(markers)
#fig.add_layer(info_box_template)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))